{% extends "_shell.html" %}{% block content %}
<table class="{{ v.css_data_table }}" cellpadding="4" cellspacing="1" border="0" width="520">
  <tr><td colspan="2"><b>{{ v.confirm_heading }}</b></td></tr>
  <tr><td class="{{ v.css_label_cell }}">{{ v.label_member_no }}</td><td>{{ member.member_id }}</td></tr>
  <tr><td class="{{ v.css_label_cell }}">{{ v.label_acct_type }}</td><td>{{ acct_type }}</td></tr>
  <tr><td class="{{ v.css_label_cell }}">{{ v.label_initial_deposit }}</td><td>{{ deposit }}</td></tr>
  <tr><td class="{{ v.css_label_cell }}">Reference</td><td>{{ reference }}</td></tr>
  <tr><td colspan="2">The sub-account request has been recorded.</td></tr>
  <tr><td colspan="2"><a href="/member/{{ member.member_id }}">Return to member record</a></td></tr>
</table>
{% endblock %}
