{% extends "_shell.html" %}{% block content %}
<table class="{{ v.css_form_table }}" cellpadding="4" cellspacing="0" border="0">
  <tr><td colspan="2"><b>Sign On &mdash; Teller Access</b></td></tr>
  {% if error %}<tr><td colspan="2"><font color="#cc0000">{{ error }}</font></td></tr>{% endif %}
  <form method="post" action="/login">
  <tr>
    <td class="{{ v.css_label_cell }}">Operator ID</td>
    <td><input type="text" name="user" class="{{ v.css_input }}" title="Operator ID" size="20"></td>
  </tr>
  <tr>
    <td class="{{ v.css_label_cell }}">Password</td>
    <td><input type="password" name="pw" class="{{ v.css_input }}" title="Password" size="20" placeholder="••••••••••••"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" class="{{ v.css_button }}" value="Sign On"></td>
  </tr>
  </form>
</table>

{% endblock %}
